.home {
  display: block;
}

.about {
  display: none;
}

/* body {
  background-image: url('images/background.png'); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.hero {
  background-image: url('images/bg.jpg'); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.header-container {
  background-image: url('images/prism.png');
  position: fixed;
  top: 0;
  width: 100%
}

li {
  display: inline-block;

}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-size: 20px;
}
a:hover {
  text-decoration: none;
}

.Brand {
  font-size: 50px;
  margin-right: 20px;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
}

.greeting {
  text-shadow: 1px, 1px grey;
  margin-bottom: 30px;
}

#company {
  color: white;
  size: 1500px;
  font-size: 90px;
  margin-top: 40px;
}

.sub {
  color: white;
  font-size: 25px;
}

button {
  text-align: center;
}
/* About us page  */
.mark-lynz {
  background-image: url('images/about-top.jpg'); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.container {
  position: relative;
  text-align: center;
  /* color: white; */
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: white;
  font-size: 25px;
}

.box h2, small {
  color: white;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 50px;
}

.underline {
  width: 400px;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

#who-we-are {
  text-align: center;
  font-size: 35px;
  color: white;
}

img {
  height: 800px;
  width: auto;
}

#mark4 {
  height: 350px;
  width: 350px;
  border: 5px solid white;
}

#lyn4 {
  height: 350px;
  width: 350px;
  border: 5px solid white;
}

.founders {
  text-align: center;
}
.about-us {
  margin-top: 100px;
}
.clear {
  clear: both;
}

/* Shows.html */
.shows-page {
  background-color: #2E82CC;
  color: white;
}

.shows-page h1 {
  font-size: 36px;
  text-decoration: underline;
}
